@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: rgb(253, 251, 251);
    font-size: 20px;
    color: grey;
    line-height: 35px;
}
#cabecalho {
    position: fixed;
    background-color: green;
    top: 0;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
nav {
    text-decoration: none;  
    padding: 8px;
    text-align: center; 
}
nav a:hover {
    color: blue;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
* {
    box-sizing: border-box;
}
.box {
    display: flex;
}
.description {
    border: 5px solid blue;
}